<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application android:label="Home Visibility Fix" android:allowBackup="false"
        android:hasCode="true" android:supportsRtl="true">
        <meta-data android:name="xposedmodule" android:value="true" />
        <meta-data android:name="xposeddescription"
            android:value="修复 ColorOS 使用第三方桌面作为默认桌面的时候，返回home会显示1秒壁纸然后才加载桌面图标的bug。" />
        <meta-data android:name="xposedminversion" android:value="82" />
        <meta-data android:name="xposedscope" android:resource="@array/xposed_scope" />
    </application>
</manifest>
